/* ---------- root variables ---------- */
:root {
  --blue: #0a3041;
  --red: rgb(183, 13, 0);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --white: #fff;
  --font-family: "Lato", sans-serif;
  --text-color-error: #ee6e73;
  --text-color-in-stock: rgb(172, 198, 201);
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 3px;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.5em 0 0.2em;
}

img {
  width: 100%;
  height: auto;
}

a {
  cursor: pointer;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--blue);
  color: var(--text-color-light);
  padding: 13px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar-logo {
  width: 25%;
  display: block;
}

.team-icon {
  width: 36px;
}

.logo-chat-div {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.topbar h2 {
  margin: 0;
  font-weight: 400;
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  top: 20px;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  /* background-color: var(--green); */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
  border-top: 1px solid var(--light-grey);
  box-shadow: #000000 22%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  text-align: center;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 0.7rem;
  color: lightgray
}

.tabbar svg {
  margin-bottom: 5px;
}

/* Add a color to the active/current link */
.tabbar a {
  fill: lightgray;
}

.tabbar a.active {
  color: var(--red);
  fill: var(--red);
}

/* ANNOUNCEMENT PAGE */
.announcements-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.announcements-container h4 {
  color: var(--blue);
  margin: 10px 0 0 0;
  text-align: left;
}

.announcements-container h3 {
  color: var(--red);
  font-weight: 500;
}

.announcements-container h1 {
  text-align: left;
  color: var(--blue);
  margin: 0 0 2rem 0;
}

.announcements-container button {
  width: 120px;
  height: 36px;
  color: var(--red);
  border-radius: 1rem;
  border: 1px solid var(--red);
  background-color: #fff;
}

.announcements-container .announcements {
  margin-top: 2rem;
}

.announcements-container .welcome {
  margin: 1rem 0;
}

.announcements-container .card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.announcements-container .card .card-name {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
}

.announcements-container .card .card-name img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1rem;
}

.text-container {
  width: 90%;
  text-align: left;
  background-color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  margin: 20px auto;
}

.announcements-container .announcements .announcement-subject {
  color: var(--blue);
  text-transform: capitalize;
  text-align: left;
}

.announcements-container .announcements .announcement-text {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 10px;
}

.announcements-container .announcements .card-button {
  width: 120px;
  height: 36px;
  color: #fff;
  border-radius: 0;
  background-color: var(--red);
}

/* ANNOUNCEMENT FORM STYLING */
.create-announcement {
  margin: 1rem auto 0 auto;
  width: 95%;
  background-color: rgba(10, 48, 65, 0.2);
  padding: 0.5rem;
}

.create-announcement {
  display: none;
}

.form-active {
  display: block;
}

.create-announcement #announcement-form {
  display: flex;
  flex-direction: column;
}

.create-announcement #announcement-form input {
  height: 2rem;
  margin-bottom: 0.5rem;
  border: none;
}

.create-announcement #announcement-form textarea {
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  font-family: var(--font-family);
}

.create-announcement #announcement-form .post-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.create-announcement #announcement-form .post-buttons .create-post-button {
  background-color: var(--red);
  color: #fff;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--light-green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- input form stryling ---------- */
/* form {
	padding: 2em 1em 2.5em;
}

form button {
	font-weight: 200;
	text-align: center;
	cursor: pointer;
	border: none;
	padding: 12px 15px;
	font-size: 1em;
	border-radius: 0;
	color: var(--text-color-light);
	background-color: var(--green);
	width: 100%;
	max-width: 350px;
} */

article button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 8px;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 40%;
  text-transform: uppercase;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
}

/* ---------- login styling ---------- */
.login-message {
  color: var(--text-color-error);
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}

#firebaseui-auth-container .firebaseui-id-submit {
  background-color: var(--red);
}

#firebaseui-auth-container .firebaseui-id-secondary-link {
  border: 1px solid var(--blue);
  color: var(--blue);
}

#firebaseui-auth-container .firebaseui-link {
  text-decoration: none;
  border: none;
  color: #333;
  opacity: 50%;
}

/* ---------- Splash screen---------- */

#splash-screen {
  background-color: rgb(10, 48, 65);
}

.splash-screen-logo {
  margin-top: 50%;
  margin-bottom: 30%;
  width: 75%;
}

.placeholder-splash-screen {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid white;
  background-color: var(--blue);
  color: white;
  width: 65%;
}

.placeholder-splash-screen-div {
  margin-bottom: 40%;
}

::placeholder {
  color: var(--blue);
}

#splash-screen .get-started {
  display: block;
  color: white;
  background-color: var(--red);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 1rem;
  width: 150px;
  margin: 22% auto;
}

/* ---------- Onboarding-1---------- */

.arrow-circle-skip {
  display: flex;
  justify-content: space-between;
  margin: 15% auto 0 auto;
  width: 80%;
}

.circles {
  position: absolute;
  bottom: 6%;
  width: 100%;
}

.back-arrow {
  width: 10px;
}

.skip-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 0.9rem;
}

#onboarding-1 .welcome {
  font-size: 1rem;
  color: var(--blue);
  width: 80%;
  margin: 2% auto;
}

#onboarding-1 .dyt {
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
  margin: 3% auto 15% auto;
  color: var(--red);
}

.next-button {
  position: absolute;
  bottom: 8%;
  left: 28%;
  display: block;
  width: 150px;
  color: white;
  background-color: var(--red);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-size: 1rem;
  margin: 0 auto 15% auto;
}

.circle {
  margin: 4%;
  width: 10px;
}

/* ---------- Onboarding-2---------- */

#onboarding-2 .arrow-circle-skip {
  margin-bottom: 10%;
}

#onboarding-2 svg {
  width: 90%;
}

#onboarding-2 h4 {
  font-size: 0.9rem;
  width: 70%;
  margin: 10% auto;
  color: var(--blue);
}

/* ---------- Onboarding-3---------- */
#onboarding-3 .arrow-circle-skip {
  margin-bottom: 10%;
}

#onboarding-3 svg {
  width: 90%;
}

#onboarding-3 h4 {
  font-size: 0.9rem;
  width: 70%;
  margin: 10% auto;
  color: var(--blue);
}

/* ---------- Onboarding-4---------- */
#onboarding-4 .arrow-circle-skip {
  margin-bottom: 10%;
}

#onboarding-4 svg {
  width: 90%;
}

#onboarding-4 h4 {
  font-size: 0.9rem;
  width: 70%;
  margin: 10% auto;
  color: var(--blue);
}

/* EVENTS PAGE */
.events-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.events-container h3 {
  color: var(--red);
  font-weight: 500;
  margin-top: 10%;
}

.events-container h1 {
  text-align: left;
  color: var(--blue);
  margin: 0 0 2rem 0;
  margin-top: 10%;
}

.events-container button {
  width: 120px;
  height: 36px;
  color: var(--red);
  border-radius: 1rem;
  border: 1px solid var(--red);
  background-color: #fff;
}

.events-container .events {
  margin-top: 2rem;
  width: 100%;
}

.events-container .card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.events-container .card .card-name {
  display: flex;
  align-items: center;
  color: white;
}

.events-container .card .card-name img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1rem;
}

.events-container .card .card-icon-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 0.7rem;
  margin-bottom: 5px;
}

.events-container .card .card-icon-container img {
  width: 15px;
}

.events-container .events .event-subject {
  color: var(--blue);
  text-transform: capitalize;
  text-align: left;
}

.events-container .events .event-detailes {
  color: #fff;
  padding-left: 0.7rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  text-align: left;
  line-height: 1.5;
}

.events-container .events .event-titel {
  background-color: #fff;
  padding: 0.7rem;
  color: var(--blue);
  width: 90%;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  text-align: left;
  line-height: 1.5;
}

.events-container .events .event-date {
  color: #fff;
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  text-align: left;
  margin: 0;
}

.events-container .events .event-time {
  color: #fff;
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

.events-container .events .event-place {
  color: #fff;
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.09);
  text-align: left;
  line-height: 1.5;
  margin: 0;
}

.reaction-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.events-container .events .card-button {
  width: 120px;
  height: 36px;
  color: #fff;
  border-radius: 0;
  background-color: var(--red);
}

.events-container .events .card-button2 {
  width: 120px;
  height: 36px;
  color: var(--red);
  border-radius: 0;
  background-color: #fff;
  border: 1px solid var(--red);
}

/* EVENT FORM STYLING */
.create-event-form {
  margin: 1rem auto 0 auto;
  width: 95%;
  background-color: var(--blue);
  padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.create-event-form {
  display: none;
}

.form-active {
  display: block;
}

.create-event-form #event-form {
  display: flex;
  flex-direction: column;
}

.create-event-form #event-form #event-subject {
  height: 2rem;
  margin-bottom: 0;
  border: none;
}

.create-event-form #event-form #event-detailes {
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  width: 94%;
  font-family: var(--font-family);
  height: 70px;
  margin-bottom: 20px;
}

.create-event-form #event-form #event-date {
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 0;
  font-family: var(--font-family);
}

.create-event-form #event-form #event-time {
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  margin-bottom: 0;
  font-family: var(--font-family);
}

.create-event-form #event-form #event-place {
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  font-family: var(--font-family);
}

.create-event-form #event-form .create-event-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.create-event-form #event-form .create-event-buttons .create-event-button {
  background-color: var(--red);
  color: #fff;
}

/* ---------- Profile page---------- */
#user-data {
  text-align: left;
}

.profile-info {
  margin: 4%;
}

.profile-icon-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-data svg {
  color: var(--light-grey);
}

.profile-img {
  border-radius: 50%;
  width: 50%;
  display: block;
  margin: 13% auto 5% auto;
}

.displayName {
  color: var(--blue);
  font-size: 1.8rem;
  font-weight: 500;
  margin: 5% auto 10% auto;
  text-align: center;
}

.profile-container {
  background-color: #fff;
  padding: 10px 25px;
  margin-bottom: 5%;
  border-radius: 0.5rem;
}

#profile h3 {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;;
}

.bio {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.profile-email {
  font-size: 0.8rem;
}

.profile-phone {
  font-size: 0.8rem;
}

.right {
  display: block;
  width: 100px;
  color: var(--red);
  border: 1.5px solid var(--red);
  padding: 13px;
  background-color: white;
  margin: 15% auto;
  text-decoration: none;
}

/* ---------- Team page---------- */
/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5em;
  gap: 0.5em;
  margin-bottom: 10%;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-container > article {
  text-align: center;
  padding: 0.5em 0.5em;
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--blue);
}

/* .grid-container > article img {
  width: 100%;
  max-width: 250px;
  height: auto;
}
 */
/* .image-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
}
 */

#team h1 {
  margin-left: 2rem;
  text-align: left;
  color: var(--blue);
  margin: 13% 5% 10% 5%;
}

.team-displayname {
  color: var(--blue);
  font-size: 1.2rem;
  margin: 0;
}

.profile-picture-team {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 0.8rem;
  margin-right: 1.3rem;
}

.team-list {
  display: flex;
  align-items: center;
}

#detailed-profile img {
  margin-top: 3rem;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

#detailed-profile button {
  margin-bottom: 4rem;
}
